Flask==3.0.0
Flask-Login==0.6.3
Flask-SQLAlchemy==3.1.1
Flask-Migrate==4.0.5
Werkzeug==3.0.1
python-dotenv==1.0.0
SQLAlchemy==2.0.48
gunicorn==25.1.0
xlsxwriter==3.2.9
requests==2.32.4
pywebpush==1.14.1
webauthn==2.3.0
reportlab==4.4.10
